// ^======================== container ========================^ //

._ {
  max-width: desk(1440px);
  height: 100%;

  margin-inline: auto;
  padding-inline: desk(40px, 32px);

  @include TABLET {
    padding-inline: tab(32px, 16px);
  }
}