@use '@/styles/abstracts' as *;

/*^ // ^======================== work ========================^ // ^*/

.work {
  width: 100%;
  height: 100%;
  padding: const(14px);
  background-color: $gray;
  box-shadow: $boxShadow;
  transition: all 250ms;

  @media (hover:hover) {
    &:hover {
      box-shadow: 0 0 const(10px) const(4px) #e5e5e544;
    }
  }

  @media (max-width: $MOBILE) {
    flex-shrink: 0;
    width: 100vw;
    padding-inline: 20px;
    scroll-snap-align: start;
  }

  &__link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: inherit;

    @include MOBILE {
      width: auto;
      height: 100%;
      overflow: clip;
      border-radius: inherit;
      box-shadow: none;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin-bottom: desk(14px, 10px);
    overflow: clip;
    object-fit: cover;
    transition: all .3s;
  }

  &__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: const(20px);
    padding-inline: const(10px);
  }

  &__title {
    font-size: desk(24px, 20px);
    font-weight: 700;

    @media (max-width: $TABLET) {
      font-size: tab(20px, 18px);
    }
  }

  &__desc {
    font-size: desk(18px, 16px);
    line-height: 1.4;

    @media (max-width: $TABLET) {
      font-size: tab(16px, 14px);
    }
  }

  &__technologies {
    display: flex;
    gap: const(4px);
    margin-top: auto;
  }

  &__technology {
    padding-inline: const(8px);
    padding-block: const(4px);
    border: const(1px) solid #ffffffaa;
    font-size: const(14px);
  }
}