@use '@/styles/abstracts' as *;

/*# // #======================== about-page ========================# // #*/

.about-hero {
  padding-block: const(60px);
  min-height: calc(100dvh);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__heading {
    text-align: left;
    margin-bottom: desk(20px, 14px);
  }

  &__inner {}

  &__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: desk(40px, 20px);
    margin-bottom: desk(40px, 20px);

    @media (max-width: $MOBILE) {
      grid-template-columns: auto;
    }
  }

  &__image-wrapper {
    @media (max-width: $MOBILE) {
      width: 100%;
      height: tab(400px, 200px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (max-width: $MOBILE) {
        object-position: 0 10%;
      }
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    gap: desk(8px, 8px);
    justify-content: space-between;
  }

  &__text {
    font-size: desk(18px, 16px);
  }
}