// ^======================== todo-item ========================^ //

.todo-item {
  display: flex;
  align-items: center;
  gap: desk(20px);

  &._checked {
    .todo-item {
      &__text {
        color: $middleGray;
        text-decoration: line-through;
      }
    }
  }

  &__label {
    border: 1px solid #000;
    border-radius: 50%;
    background-position: center;
    cursor: pointer;
    transition: all 250ms;
    @include square(desk(20px));

    &:has(input:checked) {
      background-color: $blue;
    }
  }

  &__input {
    position: absolute;
    visibility: hidden;
  }

  &__text {
    transition: all 250ms;
  }

  &__button {
    margin-left: auto;
  }

  &__button-cross {
    font-size: desk(26px);
    line-height: 1;
    rotate: 45deg;
  }
}