/*% // %======================== variables ========================% // %*/

$FULLHD: 1920px;
$DESKTOP: 1440px;
$LAPTOP: 1024px;
$TABLET: 834px;
$MOBILE: 600px;

$mobAsp: calc(600px / 320px);

$orange: #ff9532;
$gray: #15212b;
$grayTransparent: #0e161d67;
$mainGradient: linear-gradient(#1e3040, #0f151f);
$boxShadow: 0 0 3px 0 #ffffff6e;
$boxShadowExpanded: 0 0 10px 4px #e5e5e544;
$blueGradient: linear-gradient(to left, #1e6372, #2f96b0);