/*% // %======================== variables ========================% // %*/

$FULLHD: 1920px;
$DESKTOP: 1440px;
$LAPTOP: 1024px;
$TABLET: 834px;
$MOBILE: 600px;

$mobAsp: calc(600px / 320px);

$hover-color: #ff9500;