/*# // #======================== works page ========================# // #*/

.works-hero {
  padding-block: desk(60px);
  min-height: calc(100dvh);

  &__heading {
    text-align: left;
    margin-bottom: desk(20px, 14px);
  }
}