// @======================== works ========================@ //

.works {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__heading {
    margin-bottom: desk(60px, 40px);

    @include TABLET {
      margin-bottom: tab(40px, 20px);
    }
  }

  &__list {}

  &__button {
    align-self: center;
  }
}