@use '@/styles/abstracts' as *;

/*@ // @======================== works ========================@ // @*/

.works {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__heading {
    margin-bottom: desk(60px, 40px);

    @media (max-width: $TABLET) {
      margin-bottom: tab(40px, 20px);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: desk(14px, 10px);
    justify-items: center;
    margin-bottom: desk(40px, 32px);

    @media (max-width: $LAPTOP) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $MOBILE) {
      display: flex;
      width: 100vw;
      margin-inline: 0;
      position: relative;
      left: -20px;
      overflow: auto;
      justify-items: start;
      scroll-snap-type: x mandatory;
      @include hide-scrollbar;
      height: calc(100dvh - mob(250px, 150px));
    }
  }

  &__button {
    align-self: center;
  }
}