@use '@/styles/abstracts' as *;

// ^======================== main-button ========================^ //

.main-button {
  display: inline-flex;
  align-items: center;
  gap: desk(8px);
  padding-inline: desk(20px);
  padding-block: desk(14px);
  box-shadow: $boxShadow;
  background: $blueGradient;
  color: #fff;
  font-size: desk(20px);
  transition: all 250ms;

  @include HOVER {
    box-shadow: 0 0 desk(20px) desk(2px) #e5e5e544;
  }

  &__text {
    font-size: desk(20px, 18px);
  }

  &__icon {
    @include square(desk(20px, 14px));
    translate: 0 desk(1px, 1px);
  }
}