@use './abstracts/' as *;

/** // *======================== GLOBAL ========================* // **/

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  background-image: $mainGradient;
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: clip;
  position: relative;
  color: #fff;
  font-family: lato, Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.sections-wrapper {
  background-image: $mainGradient;
  margin-top: calc(-1 * const(4px));
  color: #fff;
  box-shadow: 0 calc(-1 * desk(150px, 0)) desk(90px, 0) calc(-1 * const(30px)) #1e3040;

  position: relative;
  z-index: 1;
}

section {
  padding-block: desk(60px, 50px);

  @include TABLET {
    padding-block: tab(50px, 40px);
  }
}

.container {
  max-width: const(1440px);
  height: 100%;

  margin-inline: auto;
  padding-inline: desk(40px, 32px);

  @include TABLET {
    padding-inline: tab(32px, 16px);
  }
}