// $======================== header ========================$ //

.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-image: $blueGradient;
  height: desk(50px);

  &_loaded {
    opacity: 1;
    transform: translate(0, 0);
  }
}