//^======================== skill ========================^//
.skill {
  &__inner {
    display: flex;
    align-items: center;
    gap: desk(10px);
    padding-inline: desk(14px, 12px);
    padding-block: desk(8px, 6px);
    box-shadow: $boxShadow;
    background-color: $grayTransparent;
    letter-spacing: 0.8;
    position: relative;
    backdrop-filter: blur(max(0.417vw, 6px));
    transition: all 250ms;

    @include TABLET {
      height: tab(34px, 32px);
      padding-inline: tab(12px, 10px);
    }
  }

  &__description {
    font-size: desk(16px, 14px);
  }

  &._expanded {
    align-items: center;
    gap: desk(20px);
    display: grid;
    grid-template-columns: auto 1fr;

    @include TABLET {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    .skill {
      &__inner {
        width: desk(320px, 320px);

        @include MIDDLE {
          width: 100%;
        }
      }

      &__icon {
        @include square(desk(36px, 24px));
      }

      &__name {
        font-size: desk(18px, 16px);

        @include TABLET {
          font-size: tab(18px, 14px);
        }
      }
    }
  }

  &__icon {
    @include square(desk(24px, 18px));

    img {
      @include square(100%);
    }
  }

  &__name {
    font-size: desk(16px, 14px);

    @include TABLET {
      font-size: tab(16px, 14px);
    }
  }
}