@use '@/styles/abstracts' as *;

/*^ //^======================== skill ========================^// ^*/
.skill {
  display: flex;
  align-items: center;
  gap: const(10px);
  padding-inline: desk(14px, 12px);
  padding-block: desk(8px, 6px);
  border-radius: desk(14px, 12px);
  box-shadow: 0 0 const(5px) 0 #ffffff6e;
  background-color: #32343544;
  letter-spacing: 0.8;

  @media (max-width: $TABLET) {
    height: tab(34px, 32px);
    padding-inline: tab(12px, 10px);
    border-radius: tab(16px, 12px);
  }

  &__icon {
    @include square(desk(24px, 18px));

    img {
      @include square(100%);
    }
  }

  &__name {
    font-size: desk(16px, 14px);

    @media (max-width: $TABLET) {
      font-size: tab(16px, 14px);
    }
  }
}