// $======================== certificates ========================$ //

.certificates {
  &__heading {
    margin-bottom: desk(32px, 28px);
    text-align: left;

    @include TABLET {
      margin-bottom: tab(28px, 20px);
    }
  }

  &__list {
    display: flex;
    gap: desk(40px, 32px);

    @include TABLET {
      flex-direction: column;
    }
  }

  &__item {
    @include TABLET {
      width: 400px;
    }

    @include MIDDLE {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}