// $======================== footer ========================$ //

.footer {
  padding-top: desk(40px);
  padding-bottom: desk(60px);
  background-image: $blueGradient;

  &__heading {
    margin-bottom: desk(30px);

    @include TABLET {
      margin-bottom: tab(50px, 20px);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: desk(20px);

    @include TABLET {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;

    @media (hover:hover) {
      &:hover {
        color: $orange;

        svg path {
          fill: $orange;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: desk(10px, 8px);
    font-size: desk(20px, 16px);
    transition: all 250ms;
    color: inherit;
  }

  &__link-icon {
    @include square(desk(24px));

    @include TABLET {
      @include square(tab(24px, 20px));
    }

    path {
      transition: all 250ms;
      fill: #fff;
    }
  }
}