// @======================== skills ========================@ //

.skills {
  &__heading {
    margin-bottom: desk(32px, 28px);
    text-align: left;

    @include TABLET {
      margin-bottom: tab(28px, 20px);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: desk(20px, 16px);
  }

  &__group {
    display: flex;
    align-items: center;
    line-height: 1.2;
    gap: desk(18px, 16px);
    flex-wrap: wrap;

    @include TABLET {
      gap: tab(16px, 12px);
    }
  }

  &__group-title {
    margin-right: 2.3dvh;
    font-weight: 700;
    letter-spacing: .1dvh;
    font-size: desk(20px, 18px);

    @include TABLET {
      font-size: tab(18px, 16px);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: desk(20px, 16px);

    @include TABLET {
      gap: tab(16px, 12px);
    }
  }

  &._expanded {

    .skills {
      &__container {
        gap: desk(40px, 40px);
      }

      &__group {
        flex-direction: column;
        align-items: flex-start;
      }

      &__group-title {
        font-size: desk(24px, 20px);
      }

      &__list {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}