// #======================== todo-list ========================# //

.todo-list-page {
  min-height: 100dvh;

  &__inner {
    padding-block: desk(50px);
    min-height: 100dvh;
    display: grid;
    place-items: center;
  }
}